body {
    background-color: #817070;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    font-size: 26px;
    font-weight: bold;
}

a {
   text-decoration: none;
    color: black;
}

span {
    font-size: 24px;
    margin: 5px;
    color: antiquewhite;
}

pricelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.dataInput {
    display: flex;
    justify-content: space-between;
    width: 570px;
}

.data {
    border: 3px solid burlywood;
    background-color: antiquewhite;
    text-align: center;
    height: 40px;
    font-size: 18px;
}

.data:focus {
    outline: none;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.count {
    border: 3px solid burlywood;
    background-color: antiquewhite;
    height: 40px;
    width: 50px;
    font-size: 24px;
    text-align: center;
}

.choice
{
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;

    appearance: none;
    background-color: gainsboro;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color:burlywood;
}

.result {
    font-size: 26px;
    margin: 5px;
    color: antiquewhite;
}

order {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button {
    background-color: burlywood;
    border: 3px solid burlywood;
    font-size: 24px;
    color:antiquewhite;
    margin: 5px;
    height: 50px;
    width: 250px;
}

button:hover {
    background-color: antiquewhite;
    color: burlywood;
}